/nbproject/private/
/node_modules/
/bower_components/
/examples/node_modules/
/examples/gallery/node_modules/
/examples/gallery/bower_components/
/examples/list/bower_components/
/examples/list/node_modules/
/examples/todoMVC/bower_components/
