<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="myModalLabel"><%=title%></h3>
    </div>
    <div class="modal-body">
        <h4><%=header%></h4>
        <p><%=body%></p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn closebtn">Abbrechen</button>
        <button class="btn btn-primary okbtn">Ok</button>
    </div>
</div>